@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.fi-sidebar-open {
    @apply w-3xs
}

.fi-sidebar-nav {
    @apply bg-gray-700 text-white px-0
}

.fi-sidebar-item {
    @apply w-full rounded-none text-white 
}

.fi-sidebar-nav-groups {
    @apply m-0
}

.fi-sidebar-item-btn {
    @apply rounded-none w-[110%] hover:bg-primary-600 hover:text-white
}

.fi-sidebar-item-label,.fi-sidebar-group-label  {
    @apply text-white
}



.fi-active > .fi-sidebar-item-btn, .fi-active > .fi-sidebar-item-btn > svg  {
    @apply text-white bg-primary-600 
}

span.fi-active {
    @apply text-white
}

.fi-sidebar-item-btn > svg {
    @apply stroke-white fill-white
}

.fi-ac > a {
    @apply bg-primary-600 text-white
}

[x-data="{ label: 'Admin Users' }"] .fi-sidebar-item-label {
    @apply text-gray-300
}


[x-data="{ label: 'Admin Users' }"] .fi-sidebar-item-label {
    @apply text-white
}

[x-data="{ label: 'Jobs' }"] .fi-sidebar-item-label {
    @apply text-gray-300
}


[x-data="{ label: 'Jobs' }"] .fi-sidebar-item-label {
    @apply text-white
}

.fi-input-wrp.fi-fo-rich-editor {
    @apply min-h-52
}


li.fi-active > a > div > div.fi-sidebar-item-grouped-border-part {
    @apply !bg-white 
    
}

.fi-sidebar-group-btn > svg {
    @apply fill-white
}

.fi-sidebar-nav-groups {
    @apply gap-0
}

[data-group-label="Admin Users"], [data-group-label="Jobs"] {
    @apply relative mt-7
}

[data-group-label="Admin Users"]::after, [data-group-label="Jobs"]::after{
    
    display: block;
    height: 100%;
    position: absolute;
    top: -1.5em;
    left: 0.8em;
    pointer-events: none;
    color: greenyellow;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

[data-group-label="Admin Users"]::after {
    
    content: 'Admin Users';   
    
}

[data-group-label="Jobs"]::after {
    
    content: 'Modules';   
    
}


.fi-sidebar-group-collapse-btn > svg {
    @apply !text-white
}

.isDisable {
    @apply bg-gray-300
}