@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@theme {
    --font-montserrat: 'Montserrat', 'sans-serif';
    --color-primary: oklch(62.7% 0.194 149.214);
}

/* transition-colors delay-100 duration-500 hover:bg-primary hover:text-white */
@layer components {
    .hoverEffect {
        @apply cursor-pointer bg-white transition-colors delay-100 duration-500 hover:bg-primary hover:text-white;
    }

    /* after:absolute after:bottom-[-10px] after:left-0 after:h-1 after:w-full after:bg-primary */
    .activeNav {
        @apply text-primary after:absolute after:bottom-[-10px] after:left-0 after:h-1 after:w-full after:rounded-full after:bg-primary;
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: red !important;
}

.swiper-button-prev {
    left: -45px !important;
}

.swiper-button-next {
    right: -45px !important;
}

.mySwiper {
    position: static !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    background-color: #ccd0d7;
    font-size: 20px !important;
    padding: 10px;
    font-weight: 800;
    border-radius: 100%;
    color: black;
}
